.main-container .trailer {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255,0,0,0),#000);
}

.main-container .content-git h2 {
    color: #fff;
    font-size: 20px;
}

.main-container .content-git {
    padding: 0px 70px;
    margin-bottom: 50px;
}

.main-container .itens {
    display: flex;
    flex-direction: row;    
    white-space:nowrap;
    width: 95%;
    overflow: auto;
}
