
.dev-card {
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.dev-card .shadow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
  border-radius: 20px;
}

.dev-card img {
  width: 100%;
  border-radius: 20px;
}

.dev-card h4 {
  position: absolute;
  left: 50%; 
  top: 85%;
  transform: translate(-50%, 0);
  font-size: 1.1em; 
  margin: 0;
}